@import '../theme/colors.scss';

.btn {
  border-radius: 2px;
  border: 0;
  background-color: $meli-white;
  transition: all ease-in-out 300ms; //300 como transicion suave

  &.light-gray {
    background-color: $meli-lighter-gray;
  }

  &.blue {
    background-color: $meli-blue;
  }
}
