/**
 * @section Meli Main

**/
$meli-yellow: #eadd61;

$meli-light-yellow: #fff159;

$meli-blue: #3483fa;

$meli-warn: #fbab60;

$meli-error: #ff5a5f;

$meli-success: #39b54a;

$meli-black: #000000;

$meli-dark-gray: #333333;

$meli-gray: #666666;

$meli-light-gray: #999999;

$meli-lighter-gray: #eeeeee;

$meli-white: #ffffff;

$meli-test: rgb(243 92 92 / 35%); //test color