*:focus {
  outline: none;
}

.full-layout {
  background-color: #ededed;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}

.full-width {
  min-width: 100vw;
  // overflow-x: hidden;
}

.w-100 {
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  width: 100%;
  max-width: 1048px;
  margin: 0 auto;
}

.meli-card {
  background-color: #ffffff;
  border-radius: 4px;
  position: relative;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
  padding: 1rem;
}

.no-padding {
  padding: 0 !important;
}

.d-none {
  display: none !important;
}
