@import 'theme/colors', 'theme/fonts', 'theme/mixins', 'theme/buttons', 'theme/utils';

html {
  box-sizing: border-box;
}

html * {
  box-sizing: border-box;
  font-size: 14px;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
  user-select: none;
}

body a,
body label,
body p {
  font-family: inherit;
  user-select: all;
}
