@import "theme/colors", "theme/fonts", "theme/mixins", "theme/buttons";

html {
  box-sizing: border-box;
}

@import "theme/utils";

html * {
  box-sizing: border-box;
  font-size: 16px;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  user-select: none;
  overflow-x: hidden;
}

body a,
body label,
body p {
  font-family: inherit;
  user-select: all;
}

// global app

.router-wrapper {
  min-height: calc(100vh - 74px);
}

// temp footer styles
.footer {
  height: auto !important;
  background-color: $meli-lighter-gray;
  overflow: hidden;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo-footer {
      height: 42px;

      img {
        height: 100%;
      }
    }
  }
}
