<footer class="footer">
    <section class="container p-1">        
            <div class="logo-footer">
                <img class="logo" src="assets/favicon.svg" class="footer-logo">
            </div>
            <div class="col-12 nav-footer">
                <a class="ml-2" mat-button target="_blank" [href]="">Términos y Condiciones</a>
                <a class="ml-2" mat-button target="_blank" [href]="">Políticas de privacidad</a>
                <a class="ml-2" mat-button target="_blank" [href]="">Recomendaciones</a>
            </div>
    </section>
</footer>