<footer class="footer">
    <section class="container p-2">
        <div class="row">
            <div class="col-12 logo-footer">
                <img class="logo" src="assets/svg/layout_set_logo_white.svg" class="bank-logo">
            </div>
            <!-- <div class="col-12 nav-footer">
                <a mat-button target="_blank" [href]="">Términos y Condiciones</a>
                <a mat-button target="_blank" [href]="">Políticas de privacidad</a>
                <a mat-button target="_blank" [href]="">Recomendaciones</a>
            </div> -->
        </div>
    </section>
</footer>