<div class="full-width">
    <!-- start temp - navbar -->
    <div class="meli-nav container">
        <ul class="meli-nav-list">
            <li class="list-item">
                Electrónica Audio y Video : Pos
            </li>
            <li class="list-item">
                Reproductores
            </li>
            <li class="list-item">
                iPod / iPad
            </li>
            <li class="list-item">
                32 GB
            </li>
        </ul>
    </div>
    <!-- end temp - navbar -->

    <div class="container mt-1 ml-1 mr-1 meli-card no-padding">
        
        <product-item></product-item>
        <product-item></product-item>
        <product-item></product-item>
        <product-item></product-item>
        
        <!-- <app-pagination></app-pagination> -->
    </div>

</div>