<div class="full-width">
    <!-- start temp - navbar -->
    <div class="meli-nav container">
        <ul class="meli-nav-list">
            <li class="list-item">
                Electrónica Audio y Video : Pos
            </li>
            <li class="list-item">
                Reproductores
            </li>
            <li class="list-item">
                iPod / iPad
            </li>
            <li class="list-item">
                32 GB
            </li>
        </ul>
    </div>
    <!-- end temp - navbar -->

    <div class="container mt-1 ml-1 mr-1 meli-card no-padding">
        <!-- temp - product items for -->
        <div class="product-item">
            <div class="product-section">
                <!-- <img src="https://http2.mlstatic.com/D_NQ_NP_782725-MLA49423195235_032022-V.webp" alt="alt-test"> -->
                <img src="https://www.91-img.com/gallery_images_uploads/d/7/d7cf5e2b1a3a3dfcca8a8dbb524fb11a8fb1c8e8.JPG"
                    alt="etst-img">
            </div>

            <div class="summary-section">
                <div class="price-section">
                    <div class="price">
                        <span>$</span>
                        <span>1.980</span>
                    </div>
                    <div class="free-shipping">
                        <div class="available"></div>
                    </div>
                </div>
                <div class="name-section">
                    <p>
                        Apple ipod Touch 5g 16gb Negro igual A Nuevo
                        Completo Unico!
                    </p>
                </div>
                <!-- <div class="description-info">
                    <p>maybe if we need</p>
                </div> -->
            </div>

            <div class="other-info-section">
                <p>
                    Quedan 7 Und's
                </p>
            </div>
        </div>

        <div class="product-item">
            <div class="product-section">
                <!-- <img src="https://http2.mlstatic.com/D_NQ_NP_782725-MLA49423195235_032022-V.webp" alt="alt-test"> -->
                <img src="https://www.91-img.com/gallery_images_uploads/d/7/d7cf5e2b1a3a3dfcca8a8dbb524fb11a8fb1c8e8.JPG"
                    alt="etst-img">
            </div>

            <div class="summary-section">
                <div class="price-section">
                    <div class="price">
                        <span>$</span>
                        <span>1.980</span>
                    </div>
                    <div class="free-shipping">
                        <div class="available"></div>
                    </div>
                </div>
                <div class="name-section">
                    <p>
                        Apple ipod Touch 5g 16gb Negro igual A Nuevo
                        Completo Unico!
                    </p>
                </div>
                <!-- <div class="description-info">
                    <p>maybe if we need</p>
                </div> -->
            </div>

            <div class="other-info-section">
                <p>
                    Quedan 7 Und's
                </p>
            </div>
        </div>

        <div class="product-item">
            <div class="product-section">
                <!-- <img src="https://http2.mlstatic.com/D_NQ_NP_782725-MLA49423195235_032022-V.webp" alt="alt-test"> -->
                <img src="https://www.91-img.com/gallery_images_uploads/d/7/d7cf5e2b1a3a3dfcca8a8dbb524fb11a8fb1c8e8.JPG"
                    alt="etst-img">
            </div>

            <div class="summary-section">
                <div class="price-section">
                    <div class="price">
                        <span>$</span>
                        <span>1.980</span>
                    </div>
                    <div class="free-shipping">
                        <div class="available"></div>
                    </div>
                </div>
                <div class="name-section">
                    <p>
                        Apple ipod Touch 5g 16gb Negro igual A Nuevo
                        Completo Unico!
                    </p>
                </div>
                <!-- <div class="description-info">
                    <p>maybe if we need</p>
                </div> -->
            </div>

            <div class="other-info-section">
                <p>
                    Quedan 7 Und's
                </p>
            </div>
        </div>

    </div>

</div>