<div class="full-width">
    <!-- start temp - navbar -->
    <div class="meli-nav container">
        <ul class="meli-nav-list">
            <li class="list-item">
                Electrónica Audio y Video : Pos
            </li>
            <li class="list-item">
                Reproductores
            </li>
            <li class="list-item">
                iPod / iPad
            </li>
            <li class="list-item">
                32 GB
            </li>
        </ul>
    </div>
    <!-- end temp - navbar -->

    <div class="container mt-1 ml-1 mr-1 meli-card no-padding">

        <div class="product-detail">
            <div class="product-section">
                <!-- <img src="https://http2.mlstatic.com/D_NQ_NP_782725-MLA49423195235_032022-V.webp" alt="alt-test"> -->
                <img src="https://www.91-img.com/gallery_images_uploads/d/7/d7cf5e2b1a3a3dfcca8a8dbb524fb11a8fb1c8e8.JPG"
                    alt="etst-img">
            </div>

            <div class="summary-section">
                <div class="status-section">
                    <span>Nuevo</span>
                    <span> - 234 vendidos</span>
                </div>
                <div class="name-section">
                    <p>
                        Deco Reverse
                        Sombrero Oxford
                    </p>
                </div>
                <div class="price-section mb-2">
                    <div class="price">
                        <span>$</span>
                        <span>1.980</span>
                    </div>
                </div>
                <div class="button-section mt-2">
                    <button class="btn blue w-100 p-1">
                        Comprar
                    </button>
                </div>
            </div>

            <!-- <div class="other-info-section">
                <p>
                    Quedan 7 Und's
                </p>
            </div> -->
        </div>

        <div class="product-summary">
            <div class="summary-container">
                <h2 class="summary-title">Descripcion del producto</h2>
                <p class="summary-product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                    quis malesuada lectus. Suspendisse tempor
                    velit eu cursus suscipit. Integer mollis eros in suscipit accumsan. Interdum et malesuada fames ac
                    ante
                    ipsum primis in faucibus. Integer eleifend finibus cursus. Duis pellentesque consectetur neque, in
                    dapibus ipsum pretium ut. Phasellus laoreet in neque at efficitur. Donec aliquet risus ut ex laoreet
                    tempor. Nulla accumsan consequat cursus. </p>
            </div>
        </div>

    </div>
</div>