$max: 5;
$offset: 1;
$unit: "rem"; // Feel free to change the unit.
@mixin meli-loop($className, $styleName) {
  $i: 1;
  @while $i <= $max {
    #{$className + $i} {
      #{$styleName}: #{$i + $unit};
    }
    $i: $i + $offset;
  }
}

@include meli-loop('.ml-', 'margin-left');
@include meli-loop('.mr-', 'margin-right');
@include meli-loop('.mt-', 'margin-top');
@include meli-loop('.mb-', 'margin-bottom');
@include meli-loop('.p-', 'padding');